<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.example.networkmodule">
    <uses-permission android:name="android.permission.INTERNET" />                  <!-- verify if connected to the internet -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />      <!-- verify if connected to any network -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />      <!-- verify location using GPS, give precise location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

    </application>

</manifest>
